.footer {
  position: sticky;
  bottom: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  flex: 0;
}

.add-content-container {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: transparent;
}

.add-button {
  background: transparent;
  border: none;
  cursor: pointer;
  color: #ffffff;
  padding-bottom: 20px;
}
