.loading-banner {
  position: fixed;
  bottom: 24px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  width: min(300px, 80%);
  padding: 14px 24px;

  background: var(--button-primary);
  color: var(--text-contrast);

  border-radius: 12px;
  border: 1px solid var(--background-contrast);
}

.loading-content {
  display: flex;
  align-items: center;
  gap: 10px;
}
