html,
body {
  background: #222222;
  font-family: 'Roboto Mono', monospace;
  margin: 0;
  height: 100%;
  color: #f9f9f9;
  overscroll-behavior: none;
}

.app-container {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}
